.hidden {
    display: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    Background-color: #eee;
}

#search_icon, #email_icon, #info_icon, #soda_can_icon, #home_icon, #user_icon {
    width: 200px;
}

/* search icon stlyes */

#search_icon {
    transition: all 0.5s ease-in-out;
}

#search_icon:hover {
    transform: scale(1.2);
}

#search_icon:hover .si-2 {
    stroke: #a52323;
}

#search_icon:hover .si-3 {
    fill:  white;
    stroke: #a52323;
}

/* email icon styles */
#email_icon:hover {
    animation: bounce 1s ease-in-out infinite;
}

#email_icon:hover .em-2 {
    fill: white;
    stroke:#a52323;
}

#email_icon:hover .em-1 {
    stroke:#a52323;
}

#email_icon:hover .em-4 {
    stroke:#a52323;
}

/* info icon stlyes */
#info_icon:hover .ic-1 {
    fill: white;
    stroke:#a52323;
}

#info_icon:hover .ic-3 {
    stroke: #a52323;
}

#info_icon:hover .ic-4 {
    fill: #a52323;
}

/* soda can styles */

#soda_can_icon:hover {
    animation: spin 1s ease-in-out infinite;
}

#soda_can_icon:hover .sc-2 {
    fill: white;
}

#soda_can_icon:hover .sc-3 {
    stroke: white;
}

#soda_can_icon:hover .sc-6 {
    fill: #ead7b9;
}

#soda_can_icon:hover .sc-7 {
    fill: #ead7b9;
}

/* home icon styles */

#home_icon:hover {
    animation: pulse 1s infinite;
}

#home_icon:hover .hi-2 {
    fill: white;
    stroke:#a52323;
}

/* user icon styles */
#user_icon:hover .ui-2 {
    fill: #a52323;
}

#user_icon:hover .ui-1 {
    fill: white;
}

#user_icon:hover .ui-3 {
    stroke: #a52323;
}

/* animations */

@keyframes bounce {
    30% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}